.serviceCard_container {
  max-width: 450px !important;
  padding: 15px !important;
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service_card_title {
  max-height: 40px;
  overflow: hidden;
  font-size: 13px;
}
.service_card_discription {
  overflow: hidden;
  font-size: 13px;
}
.service_card_btn {
  text-align: right;
  font-size: 12px;
}
.service_card_hr {
  opacity: 0.25;
}
